@model Form4Life.ViewModels.SquatViewModel
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>ViewBag.Title</title>
<h2>@Model.Squat.Form</h2>
@if (Model.Subscribers.Count == 0)
{
    <text>There are currently no subscribers.</text>
}

<table class="table table-bordered table-hover">
    <tr>
        <th>Subscribers</th>
    </tr>
    <tr>
        <td><a href="#">luke.thao@outlook.com</a></td>
    </tr>
    <tr>
        <td><a href="#">ryan.manchanthasouk@outlook.com</a></td>
    </tr>
</table>