@{
    ViewBag.Title = "About";
}
<center>
    <h2>@ViewBag.Title</h2>
    <h3></h3>

    <p>
        This website provides foundational information for weightlifters and athletes at all levels.
        <br /> Access to a free calorie tracking device is provided, you can even download a mobile application!
    </p>
</center>
