@{
    ViewBag.Title = "FormForLife";
}

<div class="jumbotron">
    <h1>Form4Life</h1>
    <p class="lead">Form4Life is a standalone guide providing instruction on the fundamentals of lifting.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Why Form?</h2>
        <p>
            Just like with anything else, form is everything to an athlete, <i>especially</i> someone first getting started.
            Proper form <b>HEAVILY</b> reduces the risk of injury, but more importantly allows an athlete to properly train their
            body, whether it be for hypertrophy (muscle gains) or strength.
        </p>
        <p><a class="btn btn-default" href="https://www.bodybuilding.com/fun/likness25.htm">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Squat University</h2>
        <p>Squat University's Dr. Aaron Horschig provides in-depth analysis on the science behind lifting with good form.
            His site isn't <i>just</i> for squats; excellent guidance on the deadlift, as well as olympic lifts, are provide too.</p>
        <p><a class="btn btn-default" href="https://squatuniversity.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Biolayne</h2>
        <p>Are you trying to figure out what diet you should follow to maximize weight loss, or strength gain?  Fear not,
            Dr. Layne Norton provides excellent resources and posts on how the specific diet doesn't matter - in fact, it's all
            in the science: Calories In VS. Calories Out (CICO).</p>
        <p><a class="btn btn-default" href="https://www.biolayne.com/">Learn more &raquo;</a></p>
    </div>
</div>